<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../src/ThermostatUI.js"></script>
    <script src="../src/Thermostat.js"></script>
    <link rel="stylesheet" href="../public/css/thermostatUI.css">
    <link rel="stylesheet" href="../public/css/usage.css">
  </head>
  <body>
    <section>
    <h3> Thermostat </h3>
    <div>
      <p id="temperature"></p>
    </div>
    <div>
      <p id="outside_temperature"><span id="city"></span></p>
      <select id="citylist">
        <option value="London">London</option>
        <option selected value="Moscow">Moscow</option>
        <option value="Brighton">Brighton</option>
        <option value="Manchester">Manchester</option>
      </select>
    </div>

    <div class="temperature_controller">
      <button id="down">Down</button>
      <button id="up">Up</button>
    </div>
    <div>
      <button id="reset">Reset</button>
    </div>
    <div>
      <p> Power Saving Mode <span id="pwsStatus"> On </span></p>
      <button id="powersaverOn">PWS On</button>
      <button id="powersaverOff">PWS Off</button>
    </div>
  </section>
  </body>
</html>
