body{
  font-family: sans-serif;
}

section{
  border: 1px lightgrey solid;
  width: 200px;
  margin: auto;
  align-content: center;
  background-color: #ececec;
}

h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#temperature{
  font-size: 30px;
  text-align: center;
}
